* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #7234fd;
}

.title {
  font-size: 5rem;
  text-align: center;
  padding-top: 5%;
}

.words-box {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  /* outline: 1px solid #000; */
}

#words-input {
  width: 80%;
  height: 70%;
  padding: 10px;
  font-size: 1.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  resize: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  outline: none;
}

.words-count,
.char-count {
  position: relative;
  top: 2%;
  left: 10%;
  align-self: flex-start;
  text-align: left;
  font-size: 3rem;
}
